@import url('./reset.less');

html,
body,
#__nuxt {
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: light) {
  body {
    --un-bg-opacity: 1;
    background: rgb(255 255 255 / var(--un-bg-opacity));
    color: #333;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --un-bg-opacity: 1;
    background: rgb(0 0 0 / var(--un-bg-opacity));
    color: #fff;
  }
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  box-sizing: border-box;
  padding: 20px;
  overflow-x: hidden;
  background-color: var(--el-bg-color);
  border: 1px solid var(--el-border-color-light);
  border-radius: 6px;
  box-shadow: 0 0 12px #0000000d;
}
